// Hex Color List
$colors-list: #e51c23
#e91e63
#9c27b0
#5677fc
#40c4ff
#009688
#8bc34a
#ffeb3b
#ffc107
#ff5722;

html,
body {
    width: 100%;
    height: 100%;

    font-family: 'Open Sans';
    background: #333;
    
}



.wrapper {
    width: 60%;
    margin: 0 auto;
    background: #333;
    padding:1%  2% 5%;
}

h1 {
    padding: 10px;
    margin:0 0 10px; 
    font-size: 1.2em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background: #00a6de;
    font-weight: 300;
    transition: .2s background ease-in-out;
}

.sub-title {
    // text-align: center;
    width: 100%;
    color: #FFF;
    text-transform: none;
    line-height: 1.2em;
    font-size: .8em;
}
.hex-container {
    position: relative;

    float: left;
    overflow: hidden;

    width: 24%;
    margin: 0 .5% -6%;
    padding-bottom: 27.8%;

    cursor: pointer;
    transition: .2s transform ease-in;
    transform: scale(.9);

    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    &.copied {
        animation: tada 1.2s;
        .hex {
            &:before {
                opacity: 1;
            }

        }
        &:hover {
            .colour {
                transform: translateY(-100%);
            }
            .code {
                transform: translateY(100%);
            }
        }
    }
    &:nth-child(7n + 1) {
        margin-left: 13%;
    }
    &:nth-child(7n+4) {
        clear: left;
    }
    &:hover {
        z-index: 20;

        transform: scale(.9);
        span {
            transform: translateY(0);

            background: rgba(0,0,0,.0);

        }
    }
    .hex-inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        overflow: hidden;

        transform: rotate(-60deg) skewY(30deg) ;

        box-shadow: 0 2px 5px rgba(0,0,0, .5);
    }
    .hex {
        position: absolute;

        overflow: hidden;

        width: 100%;
        height: 100%;

        transform: skewY(-30deg) rotate(60deg);
        &.label-black {
            span {
                color: #3e464c;
            }
            .colour {
                &:after {
                    border-color: #3e464c;
                }
            }
        }
        &:before {
            content: "Copied To Clipboard!";
            text-transform: uppercase;
            position: absolute;
            text-align: center;
            background: rgba(0,0,0,0.2);
            width: 100%;
            padding-top: 50%;
            height: 100%;
            font-size: 1em;
            z-index: 100;
            color: #FFF;
            opacity: 0;
            transition: .2s opacity ease-in;
        }
    }
    .img {
        position: absolute;

        display: flex;

        width: 100%;
        height: 100%;

        text-align: center;

        align-items: center;
    }
    span {
        position: absolute;
        z-index: 2;

        box-sizing: border-box;
        width: 100%;
        padding: 5%;

        font-weight: 300;

        transition: transform .3s;
        text-align: center;
        text-transform: uppercase;

        // background: rgba(0,0,0,.2);

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: #FFF;
    }
    .colour {
        z-index: 1;
        bottom: 50%;

        padding-top: 50%;

        font-size: 1.2em;


        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        &:after {
            position: absolute;
            bottom: 0;
            left: 45%;

            width: 10%;

            content: '';
            text-align: center;

            border-bottom: 2px solid #fff;
        }
    }

    .code {
        top: 50%;

        padding-bottom: 50%;

        font-size: 1.4em;

        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

}

@for $i from 1 through length($colors-list) {
    .hex-container:nth-child(#{length($colors-list)}n+#{$i}) .img {
        background: nth($colors-list, $i);
    }
}

.label-black {
    color: #3e464c;
    &:after {
        border-color: #3e464c;
    }
}


.cf:before,
.cf:after {
    display: table; /* 2 */

    content: ' '; /* 1 */
}

.cf:after {
    clear: both;
}


@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
}

30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
}

40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
}

to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}